.header_room {
  height: 80px;
  width: 100vw;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
  text-align: center;
  font-size: 30px;
  
  ul {
    display: flex;
    
    li {
      padding: 20px 30px;
      color: white;
    }
  }
  .toppage {
    position: fixed;
    right: 40px;
    top: 23px;
    font-size: 20px;
  }
}
.room_field {
  display: flex;
  height: 1550px;
  .side {
    
    width: 250px;
    height: 100%;
    background-color: #2b2b2b;
    overflow: scroll;
    .match_name {
      padding: 20px 0 30px 30px;
      font-size: 25px;
      align-self: auto;
      display: block;
      .picture img{
        width: 100px;

      }
    }
  }
    
  .room {
    width: calc(100vw - 250px);
    h2 {
      font-size: 30px;
      text-align: center;
    }
    
    .talk_room {
      overflow: scroll;
      width: 770px;
      height: 1500px;
      background-color: rgb(239, 248, 252);
      margin: 10px auto ;
      border-radius: 40px;
      padding-bottom: 50px;
      .talk {
        padding: 50px 0 0 50px;
        color: gray;
        .talk_info {
          padding-bottom: 20px;
        }
      }
      .Form {
        position: fixed;
        bottom: 5px;
        left: 800px;
        .textarea {
          width: 420px;
        }
      }
    }
  }

}