.profile {
  height: 80px;
  width: 100%;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
  text-align: center;
  font-size: 40px;
  font-family: monospace,sans-serif;
  color: white;
}
.acount_name {
  text-align: center;
  font-size: 30px;
  height: 100%;
  background-color: black;
  color: white;
  
  .acount_img img{
    width: 400px;
    
  }

  .acount_comment {

  }
  .btn {
    font-size: 20px;
  }
}
.top_page :hover {
  color: rgb(151, 11, 11);

}
.top_page {
  padding: 30px 0 ;
  font-size: 20px;
  
}