// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}

.header {
  background-color: black;
  .picture img{
    width: 100%;  
  }
}

.main {
  background: linear-gradient(gray, #f3eded);
  height: 100vh;
  width: 100%;
  overflow-y: scroll;

  .menu_list {
    background-color: #222222;
    background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
    width: calc(100vw - 200px);
    margin-left: 100px;
  }
    .icon_btn{
      position: fixed;
      top: 340px;
      left: 35px;
      font-size: 40px;
      
    }
    .icon_btn:hover{
      color: #fff;
      
      .hidden{
        display: block;
      }
    }
    .hidden{
      display: none;
    }

    .user_list {
      color: bisque;
      padding: 20px 0 30px 100px;
      
      word-wrap: break-word;
      .name {
        font-size: 30px;
        padding: 50px 50px 0 20px;
        .user_picture img{
          width: 100px; 
        }
      .comment {
        margin-bottom: 30px;
        color: white;
        font-size: 15px;
        word-wrap: break-word;
        
      }
      }  
    } 
}
