// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}

.header {
  background-color: black;
  .picture img{
    width: 100%;  
  }
}

.main {
  background: linear-gradient(gray, #EA6264);
  height: 100vh;
  width: 100%;
  overflow: scroll;

  .user_list {
    background-color: #222222;
    background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
    height: 100vh;
    width: calc(100vw - 200px);
    margin-left: 100px;
  }
    .icon_btn{
      position: fixed;
      top: 340px;
      left: 35px;
      font-size: 40px;
      
    }
    .icon_btn:hover{
      color: #fff;
      
      .hidden{
        display: block;
        color: #fff;
      }
    }
    .hidden{
      display: block;
      display: none;
    }
}
